---
author: Johan David Wallens
categoria de conocimiento: Información
nota tipo: Conocimiento
{% if tema %}
tema: {{tema}}
{% endif %}
fecha: {{fecha}}
---
#Cuaderno {% if tema %} #{{tema}}{% endif %}
